@import "../../responsive.scss";

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    transition: all 0.4s ease;
}

@media (max-width: 738px) {
    nav a {
        display: none;
    }
}

nav a:hover {
    scale: 1.05;
}

nav .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;

    @include md {
        gap: 40px;
    }
}

nav .left .logo {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .left .logo img {
    width: 68px;
}

@media (max-width: 1070px) {
    nav .left .logo span {
        display: none;
    }
}

@media (max-width: 738px) {
    nav .left .logo span {
        display: initial;
    }
}

nav .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fcf5f3;
    gap: 5px;
    height: 100%;
}

@media (max-width: 1070px) {
    nav .right {
        background-color: transparent;
    }
}

nav .right a {
    padding: 12px 24px;
    margin: 20px;
    border-radius: 5px;
}

nav .right .user {
    display: flex;
    align-items: center;
    font-weight: bold;
}

nav .right .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

nav .right .user span {
    @include sm {
        display: none;
    }
}

nav .right .user .profile {
    padding: 10px 24px;
    background-color: #fece51;
    cursor: pointer;
    border: none;
    position: relative;
}

nav .right .user .profile .notification {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .right .register {
    background-color: #fece51;
}

nav .right .menuIcon {
    display: none;
    z-index: 999;
}

nav .right .menuIcon img {
    width: 36px;
    height: 36px;
    cursor: pointer;
}


@media (max-width: 738px) {
    nav .right .menuIcon {
        display: inline;
    }
}

nav .right .menu {
    position: absolute;
    top: 0;
    right: -50%;
    background-color: black;
    color: white;
    height: 100vh;
    // width: -50%;
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

nav .right .menu.active {
    right: 0;
}

@media (max-width: 738px) {
    nav .right .menu a {
        display: initial;
    }
}

.profilePic {
    display: flex;
    align-items: center;
}